.app-flex-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}